/* 
###########
## Error ##
###########
*/

.body-error {
    /*  min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;


}

#container-error {
    display: flex;
    margin: 0.5rem 1rem;
    font-size: 1.3rem;
    text-align: center;
}

#container-error {
    border: solid 2px red;
    border-radius: 20px;
    padding: 2rem;
}

/* 
######################
## Redirecting Text ##
######################
*/
.redirect-text {
    text-align: center;
    position: relative;
    bottom: 5rem;
    padding-top: 1.7rem;

}

.redirect-text:hover {
    cursor: pointer;
}

/* 
################
## LoginError ##
################
*/

#login-error {
    font-size: 2rem;
    min-height: 100vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login-error b {
    cursor: pointer;
}