/* 
###########
## Modal ##
###########
*/

#modal-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container.open {
    display: flex;
}

#modal-content {
    position: relative;
    background-color: #f4d4c1;
    border-radius: 20px;
    min-height: 20rem;
    width: 14rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

#modal-content div {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#modal-content div button:hover {
    cursor: pointer;
}

#x-button{
    color: azure;
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    right: -1.2rem;
    top: -1.2rem;
}

#x-button:hover{
    cursor: pointer;
}

/* 
#########################
## ModalCreateExercise ##
#########################
*/
.section-modal-create-exercise{
    height: 70vh;
    width: 50%;
}

#form-modal-create-exercise{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

#form-modal-create-exercise label:first-child input {
    width: 10rem;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
}
#form-modal-create-exercise textarea {
    font-size: 1rem;
}

.label-clas{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    gap: 0.5rem;
}

